

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>Restaurant Admin Form</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item"><a href="/restaurant">Restaurant Admin List</a></li>
            <li class="breadcrumb-item active">Restaurant Admin Form</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

{{#if message}}
    <div class="alert alert-success">
        {{message}}
    </div>
{{/if}}

{{#if errorMessage}}
    <div class="alert alert-danger">
        {{errorMessage}}
    </div>
{{/if}}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                <h3 class="card-title">Add Restaurant Admin</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" id="restaurantAdminAdd" action="/restaurant/addAdmin" method="POST">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">First Name</label>
                            <input type="text" id="firstName" name="firstName" class="form-control"  placeholder="Enter First Name" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Last Name</label>
                            <input type="text" id="lastName" name="lastName" class="form-control"  placeholder="Enter Last Name" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Phone Number</label>
                            <input type="number" class="form-control" id="mobileNumber" name="mobileNumber" placeholder="Enter mobile number" required>
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" id="restaurantAdminAddFormSubmit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>

            </div>
        </div>
    </div>
</section>

{{#content "admin_dashboard_script" mode="append"}}

<script type="text/javascript">
    jQuery(document).ready(function(){
        $(".alert").fadeTo(2000, 500).slideUp(500, function(){
            $(".alert").slideUp(500);
        });

        $("#restaurantAdminAddFormSubmit").on('click', function () {
            let valid = $("#restaurantAdminAdd").valid();
            if(valid){
                $("#restaurantAdminAdd").submit();
            }
        });

        $("#restaurantAdminAdd").validate({
            rules:{
                firstName:{
                    required: true
                },
                lastName:{
                    required: true
                },
                email:{
                    required: true
                },
                mobileNumber:{
                    required: true
                }
            },
            messages:{
                firstName:{
                    required: "<font color='red'>Please enter first name.</font>"
                },
                lastName:{
                    required: "<font color='red'>Please enter last name.</font>"
                },
                email:{
                    required: "<font color='red'>Please enter email.</font>"
                },
                mobileNumber:{
                    required: "<font color='red'>Please enter mobile number.</font>"
                }
            }
        });
    })
</script>

{{/content}}


